[submodule "compiler/test/data/bwv-1062"]
	path = compiler/test/data/bwv-1062
	url = git@github.com:FelixFourcolor/BWV-1062
[submodule "compiler/test/data/and-he-shall-purify"]
	path = compiler/test/data/and-he-shall-purify
	url = git@github.com:FelixFourcolor/And-He-shall-purify
